/* Cargar las fuentes desde tu carpeta de assets */

/* Light */
@font-face {
  font-family: 'AirbnbCereal_W';
  src: url('./assets/fonts/AirbnbCereal_W_Lt.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}

/* Black (Bk) */
@font-face {
  font-family: 'AirbnbCereal_W';
  src: url('./assets/fonts/AirbnbCereal_W_Bk.otf') format('opentype');
  font-weight: 400; /* Black (con peso 400) */
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'AirbnbCereal_W';
  src: url('./assets/fonts/AirbnbCereal_W_Md.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'AirbnbCereal_W';
  src: url('./assets/fonts/AirbnbCereal_W_Bd.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* Extra Bold */
@font-face {
  font-family: 'AirbnbCereal_W';
  src: url('./assets/fonts/AirbnbCereal_W_XBd.otf') format('opentype');
  font-weight: 800; /* Extra Bold */
  font-style: normal;
}

/* Bold Black */
@font-face {
  font-family: 'AirbnbCereal_W';
  src: url('./assets/fonts/AirbnbCereal_W_Blk.otf') format('opentype');
  font-weight: 900; /* Bold Black */
  font-style: normal;
}

/* Definir la familia de fuentes en el body y asegurar que se use en todo el sitio */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F7F8FA;
  font-family: 'AirbnbCereal_W', sans-serif;
  font-weight: 500;
}

/* Estilo para el overlay que cubre toda la pantalla */
.loader-overlay {
  position: fixed; /* Fija el overlay en toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center; /* Centra el spinner horizontalmente */
  align-items: center; /* Centra el spinner verticalmente */
  z-index: 9999; /* Asegura que el loader esté sobre el contenido */
}

/* Estilo para el spinner (puedes personalizarlo como quieras) */
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

/* Animación para el spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

